@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto&display=swap');

:root{
    --bg-primary: #000;
    --bg-secondary: #313131;
    --default: #fff;
    --destak: #f06;
    --font-header: 'Bebas Neue';
    --font-hero: 'Montserrat', sans-serif;
    --font-primary: 'Roboto', sans-serif;
}

body{
    background-color: var(--bg-primary);
    color:var(--default);
    font-family: var(--font-primary);
}

@media screen and (min-width: 1000px){
    header{
        background-color: var(--bg-secondary);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }
}

@media screen and (max-width: 1000px){
    header{
        background-color: var(--bg-secondary);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        position: fixed;
        height: 10%;
        width: 100%;
        z-index: 1;
    }
}

header span{
    color: var(--destak);
}

.header a{
    font-family: var(--font-header);
    color: var(--destak);
    font-size: 1.9rem;
}

nav{
    flex-direction: column;
    display: flex;
    flex: 1;
}

nav ul{
    display: flex;
    flex: 1;
    align-items: flex-end;
    padding-right: 50px;
}

@media screen and (max-width: 700px){
    nav li{
        list-style: none;
        margin: 0 1rem;
        color: var(--default);
        font-size: 1.3rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 700px){
    nav li{
        list-style: none;
        margin: 0 1rem;
        color: var(--default);
        font-size: 20px;
        padding-right: 100px;
    }
}

nav li:last-child{
    flex-grow: 1;
    text-align: end;
}

a{
    text-decoration: none;
    color: var(--default);
}

@media screen and (min-width: 1000px) {

    .hero{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        align-content: center;
        position: relative;
        font-family: var(--font-hero);
    }

    .hero img{
        border-radius: 3em;
        padding: 40px;
    }

    .hero h1{
        font-size: 40px;
        letter-spacing: 0.04em;
        text-shadow: 0px 4px 4px #000;
    }

    .hero section{
        padding: 20px;
    }

    .hero p{
        text-align: justify;
        font-size: 1.1rem;
    }

    .hero::before{
        content: '';
        height: 100%;
        width: 100%;
        background-image: url('https://www.themoviedb.org/t/p/original/z6ES1hCbLozoquj5wilidrtKBPp.jpg');
        position: absolute;
        background-size: cover;
        z-index: -1;
        filter: opacity(.4);
        box-shadow: inset 0 -100px 100px var(--bg-primary);
    }

}

@media screen and (max-width: 1000px){
    .hero{
        display: flex;
        flex-direction: column;
        padding-top: 15vh;
        font-family: var(--font-hero);
        flex-wrap: nowrap;
        width: 150vw;
        position: relative;
        align-items: center;
    }

    .hero img{
        border-radius: .8em;
        padding: 2vmax;
        width: 30vmax;
    }

    .hero h1{
        font-size: 2rem;
        text-shadow: 0px 4px 4px #000;
    }

    .hero p{
        text-align: justify;
        font-size: 1.1rem;
    }

    .hero::before{
        content: '';
        height: 70vmax;
        width: 82vmax;
        background-image: url('https://www.themoviedb.org/t/p/original/z6ES1hCbLozoquj5wilidrtKBPp.jpg');
        position: absolute;
        background-size: cover;
        z-index: -1;
        filter: opacity(.4);
        box-shadow: inset 0 -100px 100px var(--bg-primary);
    }
}

@media screen and (min-width:1000px){
    main{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    main .buttons{
        padding: 25px;
        display: flex;
        flex-wrap: nowrap;
    }

    .button{
        background-color: var(--destak);
        padding: .5rem 1.5rem;
        border-radius: .2em;
        margin: 1em;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        
    }

    .button:hover{
        box-shadow: 0 0 10px var(--destak);
    }

    section h2{
        border-left: var(--destak) solid 5px;
        padding-left: .4em;
        margin: 5px;
    }

    .atores{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 1em;
        padding: 25px;
    }

    section img{
        width: 85px;
        border-radius: 100em;
        border: 2px solid var(--default);
        justify-self: flex-start;
    }

    section img:hover{
        width: 95px;
        border-radius: 100em;
        border: 2px solid var(--default);
        justify-self: flex-start;
    }

    .card::before{
        content: '';
        height: 10em;
        width: 9em;
        position: absolute;
        background-color: var(--bg-secondary);
        background-size: cover;
        z-index: -1;
        border-radius: .6em;
        margin-top: 50px;
    }

    .card span{
        padding-top: 15px;
    }

    .personagem{
        font-family: var(--font-primary);
        color: #a3a2a2;
    }

    .ficha{
        width: 230px;
        height: 400px;
        background-color: var(--bg-secondary);
        border-radius: .6em;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .ficha h2{
        font-family: var(--font-primary);
        color: var(--default);
        font-size: 20px;
    }

    .ficha span{
        padding-left: 15px;
        font-size: 15px;
    }

    .ficha .info:hover{
        font-style: italic;
    }

    .info{
        font-family: var(--font-primary);
        color: #a3a2a2;
    }
}

@media screen and (max-width:1000px){
    main{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    main .buttons{
        padding: 25vmin;
        display: flex;
        flex-wrap: nowrap;
    }

    .button{
        background-color: var(--destak);
        padding: .5rem 1.5rem;
        border-radius: .2em;
        margin: 1em;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    section h2{
        border-left: var(--destak) solid 5px;
        padding-left: .4em;
        margin: 5px;
        font-size: 3rem;
        font-family: var(--font-primary);
    }

    .atores{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
        width: 155vw;
    }

    .card{
        width: 20vmax;
        height: 25vmax;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 1em;
        padding: 30vh;
    }

    section img{
        width: 200px;
        border-radius: 100em;
        border: 2px solid var(--default);
        justify-self: flex-start;
    }

    .card::before{
        content: '';
        height: 32rem;
        width: 20rem;
        position: absolute;
        background-color: var(--bg-secondary);
        background-size: cover;
        z-index: -1;
        border-radius: .6em;
        margin-top: 50px;
    }

    .card span{
        padding-top: 3rem;
        font-size: 1.8rem;
    }

    .personagem{
        font-family: var(--font-primary);
        color: #a3a2a2;
    }

    .ficha{
        width: 50vmax;
        height: 60vmax;
        border-radius: .6em;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 65vh;
    }

    .ficha h2{
        font-family: var(--font-primary);
        color: var(--default);
        font-size: 3rem;
    }

    .ficha span{
        justify-content: flex-start;
        padding-left: 5%;
        font-size: 2rem;
    }

    .ficha .main{
        padding: .5rem 1.5rem;
        background-color: var(--destak);
        border-radius: .2em;
        margin: 1em;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }

    .info{
        font-family: var(--font-primary);
        color: #a3a2a2;
    }

    #ultimo{
        padding-bottom: 8vh;
    }

}

::selection{
    color: var(--default);
    background: var(--destak);
}
