@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=Roboto:wght@400;500&display=swap');

:root{
    --bg-primary: #111;
    --bg-secondary: #2d2d2d;
    --default: #fff;
    --destak: #f06;
    --font-primary: 'Roboto', sans-serif;
    --font-header: 'Bebas Neue', cursive;
    --font-hero: 'Montserrat', sans-serif;
}

body{
    background-color: var(--bg-primary);
    color:var(--default);
    font-family: var(--font-primary);
}

@media screen and (min-width: 1000px){
    header{
        background-color: var(--bg-secondary);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }
}

@media screen and (max-width: 1000px){
    header{
        background-color: var(--bg-secondary);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        height: 10%;
        width: 100%;
        z-index: 1;
    }
}


header span{
    color: var(--destak);
}

.header a{
    font-family: var(--font-header);
    color: var(--destak);
    font-size: 30px;
}

nav{
    flex-direction: column;
    display: flex;
    flex: 1;
}

nav ul{
    display: flex;
    flex: 1;
    align-items: flex-end;
    padding-right: 1rem;
}

@media screen and (max-width: 700px){
    nav li{
        list-style: none;
        margin: 0 1rem;
        color: var(--default);
        font-size: .8rem;
        padding-right: 1vw;
    }
}

@media screen and (min-width: 700px){
    nav li{
        list-style: none;
        margin: 0 1rem;
        color: var(--default);
        font-size: 20px;
        padding-right: 100px;
    }
}

nav li:last-child{
    flex-grow: 1;
    text-align: end;
}

a{
    text-decoration: none;
    color: var(--default);
}

@media screen and (max-width: 1000px) {
    #info{
        font-family: var(--font-primary);
        width: 100%;
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
    }
}